<footer>
    <h3 id="copyright">Copyright</h3>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
    }

    #copyright {
        color: rgba(255, 255, 255, 0.7)
    }
</style>